<html>
  <head>
    <title>Online-Voting-Platform</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="bg-slate-800 text-zinc-50 text-center">
    <div class="flex justify-center text-blue-800">
      <%- include ('header') %>
    </div>
    <br>
    <span class="bg-inherit hover:bg-teal-800 border-2  rounded-lg text-white p-2 mr-4 "><a href="/index">Home</a>
    </span>
    <div class="flex flex-col justify-center items-center p-4">
      <div class="flex flex-col justify-center md:w-2/5 w-full">
        <div class="flex justify-center">
          <p class="text-4xl font-semibold pt-4"><%= election.name %></p>
        </div>
        <br>
        <div class="flex flex-col gap-4">
            <% for (var i=0; i<questions.length; i++) { %>
                <div>
                    <p><b>Question</b> = <%= questions[i].title %></p>
                    <p><b>Description</b> = <%= questions[i].description %></p>
                    <br>
                    <p class="text-center">Options</p>
                    <div class="pt-2">
                        <% for (var j=0; j<options[i].length; j++) { %>
                                <li class="list-decimal"><%=options[i][j].title%></li>
                        <% } %>
                    </div>
                </div>
            <% } %>
        </div>
      </div>
    </div>
  </body>
</html>