<html>

<head>
  <title>Online-Voting-Platform</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script>
    function deleteOption(id) {
      fetch(`/election/<%= election.id %>/questions/<%= questions.id %>/options/${id}`, {
        method: "DELETE",
        headers: {
          'Content-Type': 'application/json'
        }
      }).then(res => {
        if (res.ok === true) {
          window.location.reload()
        }
      })
    }
  </script>
</head>

<body class="bg-slate-800 text-zinc-50 text-center">
  <div class="flex justify-center">
    <%- include ('header') %>
  </div>
  <br>
  <span class="bg-inherit hover:bg-teal-800 border-2  rounded-lg text-white p-2 mr-4 "><a href="/index">Home</a>
  </span>
  <span class="bg-inherit hover:bg-teal-800 border-2  rounded-lg text-white p-2 "><a href="/">Sign-out</a>
  </span>
  <br>
  <div class="flex flex-col justify-center items-center p-4">
    <div class="flex flex-col justify-center md:w-2/5 w-full">
     
      <p class="text-4xl text-center font-semibold">
        <%= election.name %>
       
      </p>
      <div class="flex gap-2 pt-6">
        <p class="flex items-center">Question:</p>
        <p class="text-2xl">
          <%= questions.title %>
        </p>
      </div>
      <div class="flex gap-2">
        <p class="flex items-center">Description:</p>
        <p class="text-xl">
          <%= questions.description %>
        </p>
      </div>



      <div>
        <form action="/election/<%= election.id %>/questions/<%= questions.id %>/options/add" method="post"
          class="flex flex-col md:flex-row gap-4 pt-4">
          <div class="flex flex-col w-full">
            <input type="text" name="option" placeholder="Option" class="bg-inherit border-2 border-black p-2 rounded-lg" />
          </div>
          <div class="flex justify-center items-center">
            <button type="submit"
              class="bg-inherit transition duration-200 border-2 border-black p-2 rounded-lg hover:bg-teal-800 px-6">
              Add
            </button>
          </div>
        </form>
      </div>

      <p class="font-semibold pt-4 text-xl">Options</p>
      <div class="flex flex-col justify-center items-center p-4">
        <div class="flex flex-col gap-4 justify-center w-full p-4">
  
            <h1 class="text-2xl flex justify-center font-semibold">Number of options = <%=options.length%></h1>
           
              <% for (var i=0; i<options.length; i++) { %>
                <div class="flex justify-between gap-6">
                  <li class="text-xl">
                    <%= options[i].title %>
                  </li>
                  <div class="flex gap-4 justify-center items-center">
                    <div onclick="deleteOption('<%= options[i].id %>')"><i
                        class="cursor-pointer fa fa-remove transition duration-200"></i></div>
                  </div>
                </div>
                <% } %>
        </div>
      </div>
    </div>
  </div>
</body>

</html>