<html>

<head>
    <script>
        function deleteQuestion(id) {
            fetch(`/election/<%= election.id %>/question/${id}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(res => {
                if (res.ok === true) {
                    window.location.reload()
                }
            })
        }
    </script>
</head>

<body class="bg-slate-800 text-zinc-50">
    <div class="flex flex-col justify-center items-center p-4">
        <div class="flex flex-col gap-4 justify-center w-full p-4">
            <% for (var i=0; i<questions.length; i++) { %>
                <div class="flex justify-between gap-6">
                    <li class="text-xl">
                        <%= questions[i].title %>
                    </li>
                    <% if (!election.started) { %>
                        <div class="flex gap-4 justify-center items-center">
                            <button class="bg-inherit hover:bg-teal-800 border-2  rounded-lg text-white p-1 mr-4 ">
                                <a href="/election/<%= election.id %>/question/<%= questions[i].id %>">Details</a>
                            </button>
                            <button class="bg-inherit hover:bg-red-600 border-2  rounded-lg text-white p-1 mr-4 ">
                                <div onclick="deleteQuestion('<%= questions[i].id %>')">Delete</div>
                            </button>
                        </div>
                        <% } %>
                </div>
                <% } %>
        </div>
    </div>
</body>

</html>